.VideoZone{
	.video-wrapper{	
		padding:10px 0px 0px 0px;
		background-color: white;
		width: 100%;
		margin:25px 0px;
		border-radius: 10px ;
		.video-container {
			border-radius: 10px;
			margin: 0 auto;
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;		
			.video-wrapper {
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			video {
				width: 100%;
				height: 100%;
				border-radius: 4px;
			}
		}
		.play-button-wrapper {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: auto;
			pointer-events: none;
			#circle-play-b {
				cursor: pointer;
				pointer-events: auto;
		
				svg {
					width: 100px;
					height: 100px;
					fill: #fff;
					stroke: #fff;
					cursor: pointer;
					background-color: rgba(black, 0.2);
					border-radius: 50%;
					opacity: 0.9;
				}
			}
		}
		.Post__Icons{
			padding: 10px 30px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			svg{
				width:30px;
				height:30px;
				cursor: pointer;
				fill: $Thirdary-200;
				&:hover{
					fill: $Secondary-400;
				}
			}
			.LeftIcons{
				display: flex;
				align-items: start !important;
				h6{
					margin: 0px 10px;
					padding:0px;
				}
				svg{
					margin-right:20px ;
				}
			}
			.Active{
				fill: red;;
			}
		}
		.Post__CreatedBy{
			padding: 0px 30px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 10px;
			.AvatarAndName{
				display: flex;
				align-items: center;
				img{
					width:60px;
					height:60px;
					border-radius: 100%;
					cursor: pointer;
				}
				.HaveStory{
					border: 3px solid $Secondary-400;
				}
				h6,p{
					cursor: pointer;
					padding-left: 20px;
					&:hover{
						color: $Secondary-400;
					}
				}
				p{
					font-size:14px;
					position: relative;
					top:5px;
				}
			}
			.Options{
				h3{
					cursor: pointer;
					&:hover{
						color: $Secondary-400;
					}
				}
			}
	
		}
		.Post__Description{
			padding: 10px 30px;
			p{
				color: $Thirdary-200;
				width: 90%;
				line-height:20px;
				padding-left: 10px;
				font-size:15px;
			}
	
		}
		.Post__Date{
			padding: 10px 30px;
			p{
				font-size: 13px;
				color: $primary-500;
			}   
		}
		.btn-success{
			background-color: transparent !important;
			border: none;
			padding: 0px !important;
			&:hover{
				background-color: none !important;
				border: none;
			}
		}
		.dropdown-toggle::after{
			display: none !important;
		}
		.dropdown-item{
			width: 100%;
			padding: 10px 15px;
			display: flex;
			align-items: center;
			svg{
				margin-right: 10px;
			}
		}
		.dropdown-menu{
			width: 200px;
			border:none !important;
			box-shadow: 0px 0px 11px -4px black;
		}
		span{
			font-weight: 700;
			padding: 0px 3px;
			color:$Thirdary-200;
		}
		 

		i {
			cursor:pointer;
			background:#fff;
			border-radius:50%;
			display:inline-block;
			color:#aaa;
			transition:.2s;
			font-size: 25px;
		  }
		  
		  i:hover {
			color:#666;
		  }
		  
		  i:before {
			font-family:fontawesome;
			content:'\f004';
			font-style:normal;
		  }
		  .NotActiveLike{
			color: red;
			position: absolute;
			bottom:-5px;
			left: -70px;
			opacity: 0;
		  }
		  .ActiveLike{
			@extend .NotActiveLike;
			animation: mymove .5s
		  }
		  @keyframes mymove {
			10% {left: -30px;opacity: 0}
			50% {left: &0px;opacity: 0.4}
			100% {left: 50px;opacity: 1}
		  }
		  
		  span {
			position: absolute;
			// bottom:70px;
			// left:0;
			// right:0;
			// visibility: hidden;
			transition:.6s;
			z-index:-2;
			font-size:10px;
			font-weight:400;
			color: green;
		  }
		  
		  i.press {
			animation: size .4s;
			color:#e23b3b;
		  }
		  
		  span.press {
			bottom:120px;
			font-size:14px;
			visibility:visible;
			animation: fade 1s;
		  }
		  
		  @keyframes fade {
			0% {color:transparent};
			50% {color:#e23b3b};
			100% {color:transparent};
		  }
		  .TextAndIcons{
			background-color:#f3f3f3cf;
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 90%;
			margin-left: auto;
			padding: 10px ;
			border-radius: 6px;
			p{
				font-weight: 400;
				color: $Thirdary-200;
			}
			svg{
				fill: $Secondary-400;
			}
	}
	}

}

